In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot  as plt

In [ ]:
df= pd.read_csv('../dataset/raw/shopping_trends_updated.csv')
#important to add ../ as it tells code to step out of the direcotry

In [10]:
print (df.head())

   Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)  \
0            1   55   Male         Blouse  Clothing                     53
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
0        Express              Yes             Yes                  14
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases
0          Venmo            Fortnightly
1           Cash            Fortnightly
2    Credit Card                 Weekly
3         PayPal                 Weekly
4         PayPal               Annually

In [16]:
print ("Initial dataset info:")
print (f"Shape: {df.shape}")
df.info()
df.describe()
#this helps check if the data types are correct and if there is any missing data.
print (df.isnull())

Initial dataset info:
Shape: (3900, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB
      Customer ID    Age  Gender  Item Purchased  Category  \
0           False  False   False           False     False
1           False  False   False           False     False
2           False  False   False           False     False
3           False  False   False           False     False
4           False  False   False           False     False
...           ...    ...     ...             ...       ...
3895        False  False   False           False     False
3896        False  False   False           False     False
3897        False  False   False           False     False
3898        False  False   False           False     False
3899        False  False   False           False     False

      Purchase Amount (USD)  Location   Size  Color  Season  Review Rating  \
0                     False     False  False  False   False          False
1                     False     False  False  False   False          False
2                     False     False  False  False   False          False
3                     False     False  False  False   False          False
4                     False     False  False  False   False          False
...                     ...       ...    ...    ...     ...            ...
3895                  False     False  False  False   False          False
3896                  False     False  False  False   False          False
3897                  False     False  False  False   False          False
3898                  False     False  False  False   False          False
3899                  False     False  False  False   False          False

      Subscription Status  Shipping Type  Discount Applied  Promo Code Used  \
0                   False          False             False            False
1                   False          False             False            False
2                   False          False             False            False
3                   False          False             False            False
4                   False          False             False            False
...                   ...            ...               ...              ...
3895                False          False             False            False
3896                False          False             False            False
3897                False          False             False            False
3898                False          False             False            False
3899                False          False             False            False

      Previous Purchases  Payment Method  Frequency of Purchases
0                  False           False                   False
1                  False           False                   False
2                  False           False                   False
3                  False           False                   False
4                  False           False                   False
...                  ...             ...                     ...
3895               False           False                   False
3896               False           False                   False
3897               False           False                   False
3898               False           False                   False
3899               False           False                   False

[3900 rows x 18 columns]

In [17]:
print(df.head())

   Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)  \
0            1   55   Male         Blouse  Clothing                     53
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
0        Express              Yes             Yes                  14
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases
0          Venmo            Fortnightly
1           Cash            Fortnightly
2    Credit Card                 Weekly
3         PayPal                 Weekly
4         PayPal               Annually

In [18]:
#To clean my data, I need to check if there are any missing values.
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [ ]:
#check if there are any duplicates in my dataset
df.duplicated().sum()
#There are no duplicates in my dataset

0